* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E7473C;
    color: #F0F0F0;
    text-shadow: -2px 0 9px #570000;
}

a {
    text-decoration: none;
    font-size: 2em;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.page-title {
    text-transform: uppercase;
}

.home-link {
    display: inline-block;
    width: fit-content;
    padding: 25px;
    background-color: #F0F0F0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: #E7473C;
    font-weight: bold;
    text-shadow: none;
    box-shadow: #570000b5 1px 9px 20px 3px;
}